# Deriv OAuth Configuration (for Rise/Fall page)
NEXT_PUBLIC_DERIV_APP_ID=pat_df4db10703b670b1e346adc61c2ef9f1a25adf9b5c20dc6268e752643e5ef7d2
NEXT_PUBLIC_DERIV_REDIRECT_URI=http://10.42.0.1:3002/redirect
NEXT_PUBLIC_DERIV_APP_NAME=Your App Name
NEXT_PUBLIC_DERIV_REFERRAL_LINK=https://deriv.com
NEXT_PUBLIC_DERIV_OAUTH_SCOPES=trade
NEXT_PUBLIC_DERIV_ENV=production

# Optional
NEXT_PUBLIC_FONT_FAMILY=Inter
